.interactive {
    transition: background-color 0.5s;
    border-radius: 10px;

}

.interactive-ttt-left {
    transition: background-color 0.5s;
    border-radius: 10px;
    /*position: absolute;*/
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border: solid 1px black;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interactive-ttt-left:hover {
    background-color: #70b4bb;
}

.interactive-ttt-right {
    transition: background-color 0.5s;
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
    /*min-height: 570px;*/
    height: 570px;
    /*margin-left: 250px;*/
    margin-bottom: 20px;
    border: solid 1px black;
    padding: 1em;
    flex-direction: column;
}

.interactive-ttt-right:hover {
    background-color: #70b4bb;
}

.interactive:hover {
    background-color: #70b4bb;
}

.tree_vis {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.four_procedure {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 1em;
    flex-direction: column;
}

.four_procedure_btn {
    position: relative;
    /*left: 50%;*/
    height: 50%;
    width: 40%;
    margin: 5px;
    font-size: x-large;
    /*transform: translate(-50%)*/
}

.modified_text{
    /* color: red; */
}

.modified_textR2{
    color: red;
}

#editororor {
    display: inline-block;
    border: solid 1px black;
    border-radius: 10px;
}

.reset_game{
    position: relative;
    width: max-content;
    height: 3;
}

.play_first {
    position: relative;
    /*left: 50%;*/
    height: 50%;
    width: 100%;
    margin: 5px;
}

.control_panel_btn {
    width: 100%;
    height: 80%;
    margin: 5px;
}

.control_panel_btn3 {
    width: 100px;
    height: 80%;
    margin: 5px;
}

.control_panel_btn2 {
    width: 100%;
    margin-bottom: 2px;
}

.control_panel {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    background-color: #b3cddb;
    height: max-content;
    width: max-content;
}

.selection{
    /*color: #B41E1E;*/
}

.expansion{
    /*color: #1EB41E;*/
}

.simulation{
    /*color: #1EB4B4;*/
}

.backpropagation{
    /*color: #1E1EB4;*/
}

.bt-spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 10px solid #222;
  border-top-color: #009688;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}